# Настройки Cloudflare R2 Хранилища
# Создать API токен можно в Cloudflare Dashboard -> R2 -> Manage R2 API Tokens

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=starley-library-media

# Публичный URL бакета (получается кнопкой "Allow Access" или "Custom Domain" в R2):
# Пример с публичным доменом R2: https://pub-xxxxxxxxxxxxxxxxxxxxxxxx.r2.dev
# Пример со своим доменом: https://media.starley-cs.ru
R2_PUBLIC_URL=
